@import "@servoy/jkanban/jkanban.css";

.kanban-container {
	height: 100%;
	overflow: auto;
    display: flex;
}

.kanban-board {
	height: 100%;
    flex-shrink: 0;
}
	
.kanban-board .kanban-drag {
	width: 100%;
	height: calc(100% - 65px);
	max-height: 100vh;
	overflow: auto;
}

@media only screen and (max-width: 600px) {
	.kanban-board {
		width: 98% !important;
		margin-bottom: 15px;
	}
	
	.kanban-container {
	    height: unset;
	    display: flex;
	    flex-direction: column;
	    gap: 20px;
	}
}